body {
    background-color: #1a1a1d;
    color: #f4f4f4;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded {
    opacity: 1;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #1a1a1d;
    border: 1px solid #950740;
    border-radius: 1000px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
}

a:hover {
    background-color: #950740;
}

.container {
    margin: auto;
    max-width: 800px;
    padding: 0 20px;
    margin-top: 25px;
}

.border-red {
    border: 2px solid #950740;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
    max-width: 100%;
}

h2 {
    font-size: 36px;
    margin-top: 30px;
}

ol,
ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

li {
    margin: 10px 0;
}

strong {
    color: #950740;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f4f4f4;
    text-align: left;
    padding: 10px 0;
}

footer a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    display: inline;
    margin-left: 5px;
}